.wrapper {
    position: relative;
}

.draghandle {
    background: red;
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    cursor: se-resize;
}

.myDiv {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
